@model SystemMonitoring.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";


}


<!--Container for task columns-->
<div class="text-center">

    <div>
        <h1 style="display:inline">Submit a new task:</h1>
        <button type="button" class="btn btn-secondary" style="display:inline;margin-left:8px;margin-bottom:15px;" id="addTask">+</button>

        <div id="popup" style="display:none; margin-bottom:15px;">
            <form id="taskForm" asp-action="Submit" asp-controller="Home" method="post">

                <label for="disName"> Select API Call </label><br />
                <select id="jobs" name="jobId">
                    <option value="0">Total Jobs</option>
                    <option value="1">Current Jobs</option>
                </select> <br />

                <br /> <button type="submit" id="submitNewTask" form="taskForm" class="btn btn-primary">Save New Task</button>

            </form>
        </div>
    </div>
    

    <div class="card" style="width: 28rem; display: inline-block;">
        <div class="card-header">
            <h1 style="display:inline">Total Job Tasks</h1>
            

        </div>
        <ul class="list-group list-group-flush" id="taskList">

            @foreach (var jobPanel in Model.TotalJobResults)
            {
                <li class="list-group-item">
                    Id: @jobPanel.Id 
                    <br /> TotalJobs : @jobPanel.TotalJobs 
                    <br /> TotalFailedJobs: @jobPanel.TotalFailedJobs
                   </li>
            }

        </ul>

    </div>


        <div class="card" style="width: 28rem; display: inline-block;" >
            <div class="card-header">
                <h1 style="display:inline; line-height: 60px">Current Job Tasks</h1>

                <ul class="list-group list-group-flush" id="taskList" style="overflow-y:scroll; max-height:49vh">

                    @foreach (var jobPanel in Model.CurrentJobResult)
                    {
                        <li class="list-group-item">
                            Id: @jobPanel.Id 
                            <br /> TotalScheduledJobs: @jobPanel.Scheduled 
                            <br /> TotalEnqueuedJobs : @jobPanel.Enqueued 
                            <br /> TotalProcessingJobs: @jobPanel.Processing 
                            <br /> TotalSucceededJobs: @jobPanel.Succeeded 
                            <br /> TotalFailedJobs: @jobPanel.Failed 
                        </li>
                    }

                </ul>

            </div>
        </div>

        </div> <!--End of card container-->

        <script>

            var returnedData;

            $(document).ready(function () {
                $.ajax({
                    url: " https://api.covidtracking.com/v1/us/current.json",
                    type: "GET",
                    contenttype: "application/json; charset=utf-8",
                    data: { show: true },
                    success: function (data) {
                        returnedData = data;
                    }
                }).done(function () {
                    $("#updateMe").text("API Test: " + returnedData[0].date);

                })
            });

            $("#addTask").click(function () {

                if ($("#addTask").text == "+") {
                    $("#addTask").text = "-";
                    $("#popup").toggle();
                } else {
                    $('#addTask').text = "+";
                    $('#popup').toggle();
                }
            });

            $('#submitNewTask').click(function () {
                $('#popup').toggle();

            });




        </script>
